#main_page{
    .icon.icon-circle{
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        background-color: black;
        color: white;
        border-radius: 50%;
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .imgload{
        background-color: $main_color;
        background-image: url(../images/img-load.svg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 5em;
    }
}